.header {
  display: flex;
  align-items: center;        /* vertical center */
  justify-content: center;    /* horizontal center */
  padding: 5px 10px;
  background-color: #a7caeb;
  color: black;
}

/* Logo */
.header-logo {
  height: 100px;
  margin-right: 5px;
}

/* Text container */
.headerText {
  display: flex;              /* FIXED */
  flex-direction: column;     /* titles in separate lines */
  align-items: center;        /* center text horizontally */
  gap: 5px;
}

/* Title */
.header-title {
  text-align: left;
  font-size: 80%;
  font-weight: 600;
  margin: 0;
}
