.header {
  display: flex;
  align-items: center;
  padding: 15px 30px;
  background-color: #a7caeb;
  color: black;
  flex:1;
  /* margin: 1%; */
  /* border-radius: 10px; */
  padding: 10px;
}

.header-logo{
  height: 100px;
  margin: -10px -10px;
  margin-right: 1px;

}
.headerText{
     margin: -10px;
    padding: 5px;
  display:flex-item;
  gap: 10px;
  flex-direction: column;
}
.header-title {
    text-align: left;
  font-size: 80%;
  font-weight: 600;
}
