.App {
  background-color: #ffffff;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-body {
   margin: 20px auto;   /* 👈 centers the box */
   width: 90%;
  max-width: 1100px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  position: relative;
  z-index: 10;
  flex:1;
  background-color:white;
  /* margin: 0 5%; */
  border-radius: 10px;
  padding: 10px;
  margin-top: 0;
}
.App-notice{
  background-color: yellow;
  width: 90%;
  border:3mm;
  border-color: #C22126;
  border-style:ridge;
}
/* .result_page{
  margin: 10;
} */


